#game-section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

#tic-gameboard {
  height: 300px;
  width: 300px;
  display: flex;
  min-width: 300px;
  flex-wrap: wrap;
  background-color: #d9cab3; /* Muted vanilla for connect gameboard */
}

.cells {
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  border: #333 solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

.x-color {
  color: #4b3f3f;
}

.o-color {
  color: #ffffff; /* White text for better contrast */
}

.cell:hover {
  background-color: #c5bbaf; /* Darker shade for hover */
  cursor: pointer;
}

#rock-gameboard {
  background-color: #d9cab3; /* Muted vanilla for game-boards */
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  border-radius: 20px;
}

.inactive-button {
  cursor: not-allowed;
}

/* .cells {
  flex: 1 0 33%;
  background-color: #d9cab3;
  border: #333 solid 2px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  font-weight: bold;
  color: #4b3f3f;
} */

.cells:hover {
  background-color: #c5bbaf; /* Darker shade for hover */
  cursor: pointer;
}

#head-player-choices,
#head-computer-choices {
  display: flex;
  flex-direction: column;
}

/* Rock Paper Scissors */

#connect-gameboard,
#winner-display,
.connect-cell {
  /* Common styles for game elements */
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-holder i {
  font-size: 50px; /* or any size you prefer */
}

#connect-gameboard {
  min-height: 300px;
  min-width: 350px;
  flex-wrap: wrap;
  background-color: #d9cab3; /* Muted vanilla for connect gameboard */
}

.connect-cell {
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  border: #333 solid 2px;
}

.connect-col:hover {
  background-color: #c5bbaf; /* Darker shade for hover */
  cursor: pointer;
}

.player-occupied,
.computer-occupied {
  /* Styles for occupied cells */
  background-color: #4b3f3f; /* Dark brown for player occupied */
}

.computer-occupied {
  background-color: #eab8b8; /* Strawberry cream red for computer occupied */
}

#connect-scoreboard,
#head-scoreboard,
#rock-scoreboard,
#tic-scoreboard {
  background-color: #d9cab3;
  width: 80%;
  padding: 10px;
  border-radius: 20px;
}

#scoreboard-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: larger;
}

.turn-message {
  font-size: 30px;
  color: #333;
}
