#game-section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

#tic-gameboard,
#rock-gameboard {
  width: 50vw;
  height: 50vh;
  max-width: 600px;
  max-height: 600px;
  background-color: #d9cab3; /* Muted vanilla for game-boards */
  display: flex;
  flex-wrap: wrap;
}

.inactive-button {
  cursor: not-allowed;
}

.cells {
  flex: 1 0 33%; /* Flex grow, shrink, and basis set to allocate around one-third of the board's space to each cell */
  background-color: #d9cab3; /* Muted vanilla for cells */
  border: #333 solid 2px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  font-weight: bold;
  color: #4b3f3f; /* Dark brown for text */
}

.cells:hover {
  background-color: #c5bbaf; /* Darker shade for hover */
  cursor: pointer;
}

/* Rock Paper Scissors */
#rock-player-choices,
#rock-computer-choices,
#head-player-choices,
#head-computer-choices,
#connect-gameboard,
#winner-display,
.connect-cell {
  /* Common styles for game elements */
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-holder i {
  font-size: 50px; /* or any size you prefer */
}

#connect-gameboard {
  height: 300px;
  width: 350px;
  flex-wrap: wrap;
  background-color: #d9cab3; /* Muted vanilla for connect gameboard */
}

.connect-cell {
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  border: #333 solid 2px;
}

.connect-col:hover {
  background-color: #c5bbaf; /* Darker shade for hover */
  cursor: pointer;
}

.player-occupied,
.computer-occupied {
  /* Styles for occupied cells */
  background-color: #4b3f3f; /* Dark brown for player occupied */
}

.computer-occupied {
  background-color: #eab8b8; /* Strawberry cream red for computer occupied */
}

#connect-scoreboard {
  background-color: #d9cab3;
  width: 80%;
  padding: 10px;
  border-radius: 20px;
}

#scoreboard-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: larger;
}

.turn-message {
  font-size: 30px;
  color: #333;
}
