/* Elements */
body {
  margin: 0;
  background-color: mintcream;
  color: darkslategrey;
  font-family: "Segoe UI", Tahoma, Geneva, sans-serif;
  display: flex;
  flex-direction: column;
  font-size: larger;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #196670;
  color: mintcream;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 25px;
}

button {
  border-radius: 10px;
  padding: 10px 15px;
  background-color: mintcream;
  color: darkslategrey;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border: #333 3px solid;
  font-size: large;
}

button:hover {
  background-color: #333;
  color: mintcream;
}

.button-container {
  display: flex;
  gap: 10px;
}

/* hide or display classes */

.hide {
  display: none;
}

.display {
  display: flex;
}

/* Intro section*/

#intro-section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

#game-section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.inactive-button {
  cursor: disabled;
}
/* Tic Tac Toe */

/* Tic-Tac-Toe Board Styles */

/* Main game board styling */
#tic-gameboard {
  width: 80vw;
  height: 80vw;
  max-width: 600px;
  max-height: 600px;
  background-color: rgb(49, 81, 81);
  display: flex;
  flex-wrap: wrap;
  margin: auto; /* Center the board horizontally */
}

.cells {
  flex: 1 0 33%; /* Flex grow, shrink, and basis set to allocate around one-third of the board's space to each cell */
  background-color: aliceblue;
  border: #333 solid 2px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 200px;
  align-items: center;
  font-weight: bold;
  color: darkslategrey;
}

#tic-scoreboard,
#rock-scoreboard {
  display: flex;
  border-radius: 10px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: #333 2px solid;
  padding: 5px 20px;
}

#scoreboard-info {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
  justify-content: space-between;
}
.cells:hover {
  background-color: rgb(155, 192, 192);
  cursor: pointer;
}

#game-over-cells {
  background-color: gray;
}

/* rock paper scissors */

#computer-rock,
#computer-paper,
#computer-scissors {
  border-radius: 10px;
  padding: 10px 15px;
  background-color: mintcream;
  color: darkslategrey;
  cursor: disabled;
  transition: background-color 0.3s, color 0.3s;
  border: #333 2px solid;
}

#rock-player-choices,
#rock-computer-choices {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
}

#rock-gameboard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#winner-display {
  font-weight: bold;
  color: #196670;
}
