/* Elements */

body {
  margin: 0;
  background-color: mintcream;
  color: darkslategrey;
  font-family: "Segoe UI", Tahoma, Geneva, sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  font-size: 35px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #196670;
  color: mintcream;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 20px;
}

button {
  border-radius: 10px;
  padding: 10px 15px;
  background-color: mintcream;
  color: darkslategrey;
  font-size: large;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border: #333 2px solid;
}

button:hover {
  background-color: #333;
  color: mintcream;
}

.button-container {
  display: flex;
  gap: 10px;
}

/* hide or display classes */

.hide {
  display: none;
}

.display {
  display: flex;
}

/* global classes */

/* Intro section*/

#intro-section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

/* Intro section*/

#game-section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

/* Intro section*/
#tic-gameboard {
  height: 300px;
  width: 300px;
  background-color: rgb(49, 81, 81);
  display: flex;
  flex-wrap: wrap;
}

#tic-scoreboard {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cells {
  height: 100px;
  width: 100px;
  background-color: aliceblue;
  border: #333 solid 2px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bold;
  color: darkslategrey;
}

.cells:hover {
  background-color: rgb(155, 192, 192);
}
