/* Elements */

body {
  margin: 0;
  background-color: mintcream;
  color: darkslategrey;
  font-family: "Segoe UI", Tahoma, Geneva, sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  font-size: x-large;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #196670;
  color: mintcream;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  border-radius: 10px;
  padding: 10px 15px;
  background-color: mintcream;
  color: darkslategrey;
  font-size: large;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border: #333 2px solid;
}

button:hover {
  background-color: #333;
  color: mintcream;
}

.button-container {
  display: flex;
  gap: 10px;
}

/* hide or display classes */

.hide {
  display: none;
}

.display {
  display: flex;
}

/* Intro section*/

#intro-section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  background-color: skyblue;
}

#intro-title {
  font-size: xx-large;
  font-weight: bold;
}
#intro-subtitle {
  font-size: 20px;
  max-width: 80%;
}

/* Intro section*/

#game-section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  background-color: lightblue;
}
